$main_dark = #000
$main_lite = #fff
$main_highlite = #FBD784
$main_highlite__title = #FFC178
$main_buttons = #FFA343
$main_shift = 4.7rem;

html,
body {
    font: 18px/1.7 'Open Sans', sans-serif;
}

body {
    background: $main_dark url("/images/cover.jpg") no-repeat center top;
    background-size: 100% auto;
    color: $main_lite;
}


a {
    color: $main_highlite;
    transition: opacity 0.3s;
    opacity: 1;

    &:visited {
        color: darken($main_highlite, 10);
    }

    &:hover,
    &:active {
        opacity: 0.7;
    }
}
/*Main styles*/
.cover-space {
    padding-bottom 82%
    // 1573*100/1920=82% 1920-ширина, 1573-высота
}
.header {
    position absolute
    top 2rem
    width 100%
    &__content {
        display flex
        justify-content space-between
        padding: 0 $main_shift
        align-items center
    }
    &__center {
        display flex
        justify-content center    
        gap 50px
    }
}

.logo {
    color: $main_lite;
    text-decoration none
    letter-spacing 1%
    align-items: center

    &:visited {
        color: $main_lite;
    }

    &:hover,
    &:active {
    color: $main_highlite;
    }
    &__title {
        font-size 1.3rem
        font-weight 700 
    }
}
.main-nav {
    &__list {
        display flex
        justify-content center
        gap 50px
    }
    &__link {
        color: $main_lite;
        text-decoration: none
        padding: 1.8rem 1.38rem;
        display: inline-block; 

        &:visited  {
            color: $main_lite;
        }
    }
}

.search {
    display flex
    align-items center
    justify-content center

    &__icon {
        width 1rem
        height 1rem
        background url("/images/icons/search.svg") no-repeat center center
        background-size content
        cursor pointer
        padding-right 0.5rem
    }

    /*плавное появление строки поиска*/

    &__form {
        background none
        border none
        transition width 0.3s
        width 3.4rem
        font 0.9rem/1 'Open Sans', sans-serif
        padding 0.2rem 0.5rem
        border-radius: 5px

        &::placeholder {
            color: white
            opacity 1    
        }

        &:focus {
            border: none
            outline: none    
            width 10rem
            background: white

                &::placeholder {
                    color:  $main_dark
                    opacity 1    
                }
        }
    }
}

.section__main {
    display flex
    align-items center
    flex-direction: column
    position: absolute
    left: $main_shift    
    right: $main_shift  
    top: 14vw
}

.main-title {
    font-size 1rem
    margin-bottom 6.2em    


    &__summary {
        font-weight 700
        color: $main_highlite__title
        text-decoration uppercase
        letter-spacing 0.36em    
        display flex
        align-items: center
        margin-bottom: 1.5em 

        &::before {
            content: ''
            display block
            width 4em
            height 3px
            margin-right 1.5em
            background: $main_highlite__title
        }
    }

    &__text {
        font-weight: 700
        line-height: 1.1
        font-size 5.4em

        &_regular {
            display block
            font-size 0.9em
            font-weight 400
        }
    }
}

.social-networks {
    position: absolute
    left: 0
    top: 4rem
    
    &__title {
        writing-mode: vertical-rl //вместо transform: rotate(90deg)
        margin-bottom 1.3rem
    }

    &__item {
        margin-bottom 1rem
    }
    &__link {
        opacity 1
        transition: opacity 0.3s

        &:hover {
            opacity 0.7
        }
    }
}

/* Icons*/

.icon__instagram {
    width 1.3rem
    height 1.3rem
    background: url("/images/icons/instagram.svg") no-repeat center center
    background-size: contain
}
.icon__facebook {
    width 1.3rem
    height 1.3rem
    background: url("/images/icons/facebook.svg") no-repeat center center
    background-size: contain
}
.icon__twitter {
    width 1.3rem
    height 1.3rem
    background: url("/images/icons/twitter.svg") no-repeat center center
    background-size: contain
}
.icon__arrow-downward {
    width 0.9rem
    height 1.3rem
    background: url("/images/icons/arrow_downward.svg") no-repeat center center 
    background-size: contain
}


.scroll-down {
    display flex
    justify-content center
    align-items: center
    cursor: pointer
    opacity 1
    transition: 0.3s

    &:hover {
        opacity 0.7    
    }

    &__icon {
        margin: 0.2em 0 0 0.5em    
    }

}